body {
    background-color: #0b3a01;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    background-color: #035a2a;
    color: #fff;
    text-align: center;
    padding: 20px;
}
header a{
    text-decoration: none;
   color: #fff;
   background-color: #13770f;
   padding: 5px 20px;
   border-radius: 100px;
}

header a:hover{
 background-color: #11490a;
}
h1 {
    /*    :top right botton left */
     margin: 0 0 10PX 0 
   /* margin-bottom: 10px; */
}
main {
    padding: 16px;
}

section{
    background-color: #758d76;
    padding: 16px;
    border-radius: 8px;
    margin: 10px 0;
}

section h3 {
    border-bottom: 2px solid  #92d89e;;
}

/* para referenciar  ID e´com # */
#exemploid { 
    background-color: rgb(200, 93, 233);
}
/* para referenciar classe é com .  */
.exemploclass {
    background-color: rgb(224, 131, 233);
}