/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Corpo */
body {
    background: #2b1a1a;
    color: #fff;
    padding: 20px;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #ff6d00;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Título da seção */
.titulo {
    text-align: center;
    margin-bottom: 30px;
}

.titulo h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.titulo p {
    color: #cccccc;
}

/* Container principal */
.contato-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap
}